#menu-demo2, #menu-demo2 ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu-demo2 li{
display:inline-block;
position:relative;
}
#menu-demo2 ul li{
display:inherit;
}


#menu-demo2 ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 20;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu-demo2 li:hover ul{
max-height:150em;
}
/* background des liens menus */
#menu-demo2 li:first-child{
background-color: white;
border : 1px solid #61BAE9;
}
#menu-demo2 li:nth-child(2){
background-color: white;
border : 1px solid #61BAE9;
}
#menu-demo2 li:nth-child(3){
background-color: white;
border : 1px solid #61BAE9;
}
#menu-demo2 li:nth-child(4){
background-color: white;
border : 1px solid #61BAE9;
}
#menu-demo2 li:last-child{
background-color: white;
border : 1px solid #61BAE9;
}

/* background des liens menus et sous menus au survol */
#menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
background:#61BAE9;
}
#menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
background:#61BAE9;
}
#menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
background:#61BAE9;
}
#menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
background:#61BAE9;
}
/* les a href */
#menu-demo2 a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu-demo2 ul a{
padding:8px 0;
}
#menu-demo2 li:hover li a{
color:white;
text-transform:inherit;
}
#menu-demo2 li:hover a, #menu-demo2 li li:hover a{
color:white;
}