
 body {
      text-align: center; /* !!! */
      background-color:white;
      width:100%;
  }


footer {
	margin-bottom:0px;
	text-align:center;
	margin:auto;
}


table tr:nth-child(odd){
  background-color:#DBF0FC;
}

.myButton {
  background-color:#DBF0FC;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid blue;
  display:inline-block;
  cursor:pointer;
  color:blue;
  font-family:Arial;
  font-size:17px;
  padding:10px 31px;
  text-decoration:none;
}
.myButton:hover {
  background-color:blue;
  color:#DBF0FC;
}
.myButton:active {
  position:relative;
  top:1px;
}

.tdtitle{
  font-size:20px;
  color:grey; 
  padding-left:10px;

}  



.postdata {
    font-size: 100%;
      background-color:white;
      border:1px solid grey;
      height:28px;
      color:grey;
    -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px;    border-radius:2px;
  }
  
  .postdata:hover {
    border:1px solid #292e37;
  }
  
  
  .boutton {
    cursor:pointer; 
    color:white;
    background-color:grey; 
    border:1px solid grey; 
    text-transform: uppercase;
  -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px;  border-radius:3px;
  }


  .boutton:hover {
    border:1px solid #999999; 
  }


  .error_comment{
    text-decoration:none;
    color: red;
    padding:1%;
    font-size: 10px;
    text-transform: uppercase;
  }


 .cursor{
  cursor:pointer;
}

